/* Custom css should be typed here if needed */



:root {
    --color-primary: #048B9A;
    --color-secondary: #FDC82C;
    --color-mydark: #20494F;
    --color-success:green;
    --color-warning: orange;
    --color-info: grey;
    --color-error: red;
  }
  .gradient {
    background: linear-gradient(90deg, #048B9A 0%, #20494F 100%);
  }
  

  .btn {
    @apply font-bold rounded-l-sm my-2 py-2 px-4 shadow-lg;
  } 
  .btn-primary {
    @apply text-white bg-primary;
  }
  .btn-secondary {
    @apply text-white bg-secondary;
  }
  /**
  * ANimation
  **/
  .wk-fadeIn {
    @apply animated fadeIn slower delay-1s;
  }


  /**
  *
  **/
  .markdown li {
    @apply list-disc pl-1 ml-4
  }
  .markdown p {
    @apply my-2
  }

  
/* external css: flickity.css */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
/* purgecss start ignore */
.stripe-loading-indicator .stripe,
.stripe-loading-indicator .stripe-loaded {
    background: var(--color-secondary)!important;
}
/* purgecss end ignore */

