title = "Besoin"
url = "/need/:slug"
layout = "default"
==
use Waka\Wcms\Models\Need;
function onStart()
{
$need = Need::where('slug',$this->param('slug'))->first();
$this['need'] = $need;
$this['url'] = $need->getCloudiBaseUrl('main_image','jpg-600-300');
trace_log($need->description2);
}
==
{##}
<!--Hero-->
<div class="pt-24">

    <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <!--Left Col-->
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
            <p class="uppercase tracking-loose w-full">
                {{need.catchline}}
            </p>
            <h1 class="leading-none">
                {{need.name}}
                <p class="leading-normal text-2xl my-4">
                    {{need.intro}}
                </p>
        </div>
        <!--Right Col-->
        <div class="md:w-3/5 py-6 text-center">
            <div class="w-full m-auto md:w-4/5 mb-10">
                <img class="animated fadeInRight slower shadow-lg h-500 w-full object-cover" src="{{ url }}">
            </div>
        </div>

    </div>

</div>


<div class="relative -mt-12 lg:-mt-48">
    {% partial 'svgs/separator/wave' %}
</div>



<section class="bg-white relative text-mydark">
    <div class="container max-w-5xl mx-auto px-2 py-4">
        <h2 class="w-full text-center ">
            Explications</h2>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="w-max-lg mb-4 mt-12 text-mydark markdown">
            {{ need.description  | md  }}
        </div>
        {% for content in need.content %}

        {% if content._group == 'carousel_text' %}
        {% partial 'carousel/carousel_text' data=content %}
        {% endif %}

        {% if content._group == 'vimeo' %}
        {% partial 'video/vimeo' data=content %}
        {% endif %}

        {% endfor %}

        {% if need.solutions | length > O %}
        <h3 class="text-mydark">Les solutions utilisés pour ce genre de programme.</h3>
        <div class="w-full flex flex-col flex-wrap lg:flex-row justify-center lg:justify-start ">
            {% for solution in need.solutions %}
            <a href="/solution/{{ solution.slug }}" class="animate_icon">
                <div class="mr-4 my-4 flex shadow w-full md:w-64  h-16 bg-primary">
                    <img class="self-center bg-white  m-1 p-1 h-12 w-12"
                        src="{{ solution.main_image.thumb(100, 100) }}">
                    <div class="self-center text-sm p-2 text-white ">{{ solution.name }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</section>